@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudLayout>
    <MudMainContent>
        <main>
            @Body
        </main>
    </MudMainContent>
</MudLayout>


